@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #4b00ad;
  overflow: hidden;
}

.background span {
  width: 43vmin;
  height: 43vmin;
  border-radius: 43vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 4;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.background span:nth-child(0) {
  color: #0a1537;
  top: 54%;
  left: 13%;
  animation-duration: 30s;
  animation-delay: -115s;
  transform-origin: 23vw -13vh;
  box-shadow: 86vmin 0 11.074565959337832vmin currentColor;
}
.background span:nth-child(1) {
  color: #f9d803;
  top: 67%;
  left: 3%;
  animation-duration: 142s;
  animation-delay: -202s;
  transform-origin: -11vw 12vh;
  box-shadow: 86vmin 0 11.691718939902895vmin currentColor;
}
.background span:nth-child(2) {
  color: #0d1644;
  top: 59%;
  left: 55%;
  animation-duration: 46s;
  animation-delay: -148s;
  transform-origin: -17vw -6vh;
  box-shadow: 86vmin 0 11.283013813431033vmin currentColor;
}
.background span:nth-child(3) {
  color: #0d1644;
  top: 41%;
  left: 47%;
  animation-duration: 389s;
  animation-delay: -26s;
  transform-origin: -21vw 12vh;
  box-shadow: -86vmin 0 11.200188619340263vmin currentColor;
}
.background span:nth-child(4) {
  color: #ec0329;
  top: 13%;
  left: 81%;
  animation-duration: 255s;
  animation-delay: -306s;
  transform-origin: -14vw -13vh;
  box-shadow: -86vmin 0 11.141882590670036vmin currentColor;
}
.background span:nth-child(5) {
  color: #0a1537;
  top: 9%;
  left: 72%;
  animation-duration: 392s;
  animation-delay: -224s;
  transform-origin: 11vw 2vh;
  box-shadow: -86vmin 0 11.556072114288341vmin currentColor;
}
.background span:nth-child(6) {
  color: #ec0329;
  top: 98%;
  left: 77%;
  animation-duration: 465s;
  animation-delay: -329s;
  transform-origin: 7vw 15vh;
  box-shadow: 86vmin 0 11.427526710136664vmin currentColor;
}
.background span:nth-child(7) {
  color: #0d1644;
  top: 70%;
  left: 53%;
  animation-duration: 78s;
  animation-delay: -330s;
  transform-origin: -20vw -2vh;
  box-shadow: -86vmin 0 11.139549139319072vmin currentColor;
}
.background span:nth-child(8) {
  color: #f9d803;
  top: 77%;
  left: 43%;
  animation-duration: 404s;
  animation-delay: -263s;
  transform-origin: 24vw 23vh;
  box-shadow: 86vmin 0 11.531311364828554vmin currentColor;
}
.background span:nth-child(9) {
  color: #0a1537;
  top: 38%;
  left: 34%;
  animation-duration: 267s;
  animation-delay: -206s;
  transform-origin: 7vw -17vh;
  box-shadow: 86vmin 0 11.407713434701037vmin currentColor;
}
.background span:nth-child(10) {
  color: #0d1644;
  top: 47%;
  left: 89%;
  animation-duration: 168s;
  animation-delay: -222s;
  transform-origin: -4vw 3vh;
  box-shadow: -86vmin 0 11.516851565827857vmin currentColor;
}
